<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/components/using-api/">Covid data</a>

        <li><a href="/components/preloader.html">Preloader</a></li>

        <li><a href="/components/dropbox.html">Dropdown</a></li>

        <li><a href="/components/accordion.html">Accordion</a></li>
        
        <li><a href="/components/accordion_with_animation.html">Accordion with animation</a></li>
        
        <li><a href="/components/breadcrumbs.html">Breadcrumbs</a> </li>
        
        <li><a href="/components/carousel/carousel_btn-disappear.html">Carousel with button diappear</a></li>
        
        <li><a href="/components/carousel/carousel_infinity_advance.html">Carousel infinity</a></li>
        
        <li><a href="/components/carousel/carousel-infinite.html">Carousel</a></li>
        
        <li><a href="/components/checkbox/checkbox.html">Checkbox</a></li>
        
        <li><a href="/components/checkbox/checkbox2.html">Checkbox dark mode toggle</a></li>
        
        <li><a href="/components/page_animation.html">Page animation</a></li>



    </ul>
</body>
</html>
