<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Getting data of covid-19 </title>
</head>
<body>
    <h1>The state-wise data</h1>
    <h2>using fetch api</h2>
    <ul class="data">
        <div class="loading">
            loading data
        </div>
    </ul>

    <script>
        const container = document.querySelector('.data');
        const loading = document.querySelector('.loading');
        function fetchData(){
            fetch('https://api.covid19india.org/data.json')
            .then( res => res.json())
            .then( data => {
                let output = "";
                
                data.statewise.forEach (state => {
                   
                    output += `
                        <li>State : ${state.state} ; Active : ${state.active}; Confirmed : ${state.confirmed} </li>
                    `;
                });
                loading.style.display = "none";
                container.innerHTML = output;
            })
        }
        fetchData();
    </script>
</body>
</html>